body, html{
    font-family: "Quattrocento";
    font-weight: normal;
    font-style: normal;
    }

h1{
    font-family: "Ramabhadra" !important;
    font-weight: normal;
    font-style: normal;
    }

.navbar{
    /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
    /* background: linear-gradient(90deg, #10327A, #5576BD, #809BD5);  THIS ONE IS GOOD*/
    /* background-image: linear-gradient(90deg, rgba(42,44,48,0.73) 25.8%, rgba(196,133,56,1) 95.5% ); */
    background-image: linear-gradient(to right, #C32406, #BB034C, #962E75, #614482, #354B74, #2F4858);
}

.nav-link{
    font-size: 22px;
}
    
.goGoLogo {
    height: 100px;
}

.slidePhotos {
    max-width: 100%!important;
    height: 100%;
}

#callToAction {
    /* background: linear-gradient(90deg, #10327A, #5576BD, #809BD5); */
    background-image: linear-gradient(to right, #C32406, #BB034C, #962E75, #614482, #354B74, #2F4858);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    height: auto;
    text-align: center;
}

.awesome {
    display: inline-block;
    margin-top: 20px;
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
}
